/*header style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1.5vh 100px;
    background: #4db2ec;
    display: flex;
    justify-content: space-between;
    z-index: 999;
}

header>h2{
    font-size: 2em;
    color: white;
    user-select: none;
    font-family: 'Lobster', cursive;
    font-family: 'Noto Sans SC', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

header>nav>a{
    top: 10px;
    position: relative;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    font-weight: 550;
    margin-left: 40px;

}


/*hero section style*/

#home_section{
    position: relative;
    background:#0F91DA ;
    background-image: linear-gradient(#33a9ec, white);
    height: 100vh;

}

#home_section>img:first-child{
    position: absolute;
    right: 0;
}
#home_section>img:nth-child(2){
    right: 26vw;
    top: 18vh;
    position: absolute;

}

#home_section>div:nth-child(3){
    position: absolute;
    left: 5vw;
    top: 10vw;

}

#home_section>div:nth-child(3)>dl{
    margin-bottom: 2vw;
    display: block;
}
#home_section>div:nth-child(3)>dl:first-child,dl:nth-child(2){
    font-size: 36px;
    font-weight: bold;
}

#home_section>div:nth-child(3)>dl:nth-child(3)>span{
    font-weight: 750;
    font-size: 64px;
    margin-right: 2vw;
}

#home_section>div:nth-child(3)>dl:nth-child(3)>span:last-child{
    color: #0b6a9f;
}
#home_section>div:nth-child(3)>dl:nth-child(4){
    color: orange;
    font-size: 24px;
    font-weight: bold;
}

#home_section>div:nth-child(4){
    position: absolute;
    /*border: black solid 5px;*/
    bottom: 7vw;
    left: 5vw;
}
#home_section>div:nth-child(4)>img{
    margin-right: 2vw;
}

#home_section>div:nth-child(5){
    position: absolute;
    /*border: black solid 5px;*/
    bottom: 4vw;
    left: 50vw;
    font-size: 24px;
}
#home_section>div:nth-child(5)>span:nth-child(2),span:nth-child(4){
    font-size: 24px;
    color: gray;
}
#home_section>div:nth-child(5)>span:first-child,span:nth-child(3){
    font-size: 30px;
    font-weight: bold;
    color: #0F91DA;
}


